<div class="container"><br>
  <h1 class="text-center">Admin prijava</h1><br>
  <div>
    <div class="form-group">
      <label for="korisnickoIme" class="col-sm-3 col-form-label">Korisnicko ime:</label>
      <input type="text" class="form-control" id="korisnickoIme" [(ngModel)]="korisnickoIme">
    </div><br>
    <div class="form-group">
      <label for="lozinka" class="col-sm-3 col-form-label">Lozinka:</label>
      <input type="password" class="form-control" id="lozinka" [(ngModel)]="lozinka">
    </div><br>
    <button class="btn btn-primary" (click)="prijava()">Prijavi se</button>
  </div><br>

  <div *ngIf="poruka!=''">
    <p class="alert alert-danger">{{poruka}}</p>
  </div>
</div>
