<div class="container">
  <app-ucenik-navigacija [ucenik]="ucenik"></app-ucenik-navigacija>

  <br>
  <h3>Profil</h3>

  <div>
    <div class="form-group">
      <label for="ime">Ime:</label>
      <input class="form-control" type="text" id="ime" name="ime" [(ngModel)]="ucenik.ime">
    </div><br>
    <div class="form-group">
      <label for="prezime">Prezime:</label>
      <input class="form-control" type="text" id="prezime" [(ngModel)]="ucenik.prezime">
    </div><br>
    <div class="form-group">
      <label for="adresa">Adresa:</label>
      <input class="form-control" type="text" id="adresa" [(ngModel)]="ucenik.adresa">
    </div><br>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input class="form-control" type="text" id="email" [(ngModel)]="ucenik.email">
    </div><br>
    <div class="form-group">
      <label for="telefon">Telefon:</label>
      <input class="form-control" type="text" id="telefon" [(ngModel)]="ucenik.telefon">
    </div><br>

    <div class="form-group">
      <label for="slika">Slika:</label>
      <div class="col-sm-9">
        <div *ngIf="ucenik.slika">
          <img [src]="ucenik.slika" alt="Uploaded Image" [ngStyle]="{ 'width.px': 150, 'height.px': 150 }">
        </div>
        <input type="file" id="slika" accept="image/jpeg, image/png" (change)="handleFileUpload($event)">
      </div>
    </div><br>

    <div class="form-group">
      <label for="tipSkole">Tip skole:</label>
      <select class="form-select" id="tipSkole" [(ngModel)]="ucenik.tipSkole">
        <option value="osnovna">osnovna</option>
        <option value="srednja-gimnazija">srednja-gimnazija</option>
        <option value="srednja-strucna">srednja-strucna</option>
        <option value="srednja-umetnicka">srednja-umetnicka</option>
      </select>
    </div><br>

    <div class="form-group">
      <label for="razred">Razred</label>
      <select class="form-select" id="razred" [(ngModel)]="ucenik.razred">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" *ngIf="ucenik.tipSkole==='osnovna'">5</option>
        <option value="6" *ngIf="ucenik.tipSkole==='osnovna'">6</option>
        <option value="7" *ngIf="ucenik.tipSkole==='osnovna'">7</option>
        <option value="8" *ngIf="ucenik.tipSkole==='osnovna'">8</option>
      </select>
    </div><br>
    <div>
      <button class="btn btn-primary" (click)="azuriraj()">Izmeni podatke</button>
    </div>
  </div>
  <br>
  <p *ngIf="poruka!=''" class="alert alert-success">{{poruka}}</p>

</div>
