<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light navbar-lg">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="../nastavnik">Profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="../nastavnikCasovi">Casovi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="../mojiUcenici">Moji ucenici</a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link">{{nastavnik.ime}} {{nastavnik.prezime}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" (click)="odjava()">Odjava</a>
    </li>
  </ul>
</nav>
