<div class="container">
  <app-admin-navigacija [admin]="admin"></app-admin-navigacija>
  <br>

  <div class="row">
    <div class="col-12 col-lg-6">
      <label for="dijagramBrojNastavnikaPoPredmetu">Broj nastavnika po predmetu</label>
      <canvas id="dijagramBrojNastavnikaPoPredmetu"></canvas>
    </div>
    <div class="col-12 col-lg-6">
      <label for="dijagramBrojNastavnikaPoUzrast">Broj nastavnika po uzrastu</label>
      <canvas id="dijagramBrojNastavnikaPoUzrast"></canvas>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-lg-5">
      <label for="dijagramBrojNastavnikaPoPolu">Broj nastavnika po polu</label>
      <canvas id="dijagramBrojNastavnikaPoPolu"></canvas>
    </div>
    <div class="col-1"></div>
    <div class="col-12 col-lg-5">
      <label for="dijagramBrojUcenikPoPolu">Broj ucenik po polu</label>
      <canvas id="dijagramBrojUcenikPoPolu"></canvas>
    </div>
    <div class="col-1"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-lg-12">
      <label for="histogramCasovaPoDanu">Prosecan procenat casova po danu</label>
      <canvas id="histogramCasovaPoDanu"></canvas>
    </div>
    <div class="col-12 col-lg-12">
      <label for="dijagramLinijaBrojCasova">Broj casova po mesecu u 2023.</label>
      <canvas id="dijagramLinijaBrojCasova"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-5">
      <label for="pitaBrojaCasovaPreIPoslePodne">Odnos casova prepodne i posle podne</label>
      <canvas id="pitaBrojaCasovaPreIPoslePodne"></canvas>
    </div>
    <div class="col-1"></div>
    <div class="col-12 col-lg-5">
      <label for="pitaBrojCasovaPoTipuSkole">Broj casova prema tipu skole.</label>
      <canvas id="pitaBrojCasovaPoTipuSkole"></canvas>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<br>
